button {
    height: 52px;
    width: 100px;
    padding: 12px;
    border: 1px solid black;
    font-size: 12px;
    font-weight: 800;
    border-radius: 100px;
}

p {
    font-size: 22px;
    font-weight: 500;
}